<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Chuck Norris Joke Department</title>
  </head>
  <body>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/random">Random Jokes</a>
    <a href="/categories">Chuck Norris Categories</a>
    <a href="/search">Search Jokes</a>
  </nav>
</header>

<%- body %>


<footer>
</footer>
  </body>
</html>
